<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anotar.Log4Net.Fody" version="4.6.7" targetFramework="net461" />
  <package id="Castle.Core" version="4.2.0" targetFramework="net461" />
  <package id="Fody" version="3.3.5" targetFramework="net461" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.8.7" targetFramework="net461" />
  <package id="log4net" version="2.0.10" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Ninject" version="3.3.4" targetFramework="net461" />
  <package id="Ninject.Extensions.Factory" version="3.3.2" targetFramework="net461" />
  <package id="RestSharp" version="106.5.4" targetFramework="net461" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>