[submodule "pimachine"]
	path = pimachine
	url = https://github.com/pipe01/pimachine.git
[submodule "LCU.NET"]
	path = LCU.NET
	url = https://github.com/fluendo/LCU.NET.git
[submodule "Onova"]
	path = Onova
	url = https://github.com/pipe01/Onova.git
[submodule "Notifications.Wpf"]
	path = Notifications.Wpf
	url = https://github.com/Federerer/Notifications.Wpf.git
[submodule "notifyicon-wpf"]
	path = notifyicon-wpf
	url = https://bitbucket.org/hardcodet/notifyicon-wpf.git
